<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.financialrecordbook">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinancialRecordBook"
        tools:targetApi="31">
        <activity android:name="com.example.financialrecordbook.DaftarActivity"></activity>
        <activity android:name="com.example.financialrecordbook.CashFlowActivity" />
        <activity android:name="com.example.financialrecordbook.PengaturanActivity" />
        <activity android:name="com.example.financialrecordbook.PengeluaranActivity" />
        <activity android:name="com.example.financialrecordbook.PemasukanActivity" />
        <activity android:name="com.example.financialrecordbook.MainActivity" />
        <activity android:name="com.example.financialrecordbook.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>